<%= form_for @chequeo do |f| %>
  <% @chequeo.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>

  <div class="input-group">
    <%= f.number_field :peso, placeholder: "eg. 56.5", class: "form-control" %>

    <div class='input-group date' id='datetimepicker1'>
        <%= f.text_field :fecha, placeholder: "#{DateTime.now.strftime("%d/%m/%Y")}", class: "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>

  <br>

  <div class="btn-group">
    <%= f.submit "Guardar", class: "btn btn-primary" %>
    <%= link_to "Regresar", root_path, class: "btn btn-default" %>
  </div>
<% end %>

  <br>
  <br>

  <script type="text/javascript">


    $(function () {
      $('#datetimepicker1').datetimepicker({
              format: 'DD/MM/YYYY',
              minDate: new Date(2018, 1 - 1, 1),
              defaultDate: Date.now(),
              daysOfWeekDisabled: [1, 2, 3, 4, 5, 0]
             });

    });


  </script>
